<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>equinox osgi downloads</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="author" content="Eclipse Foundation, Inc." />
	<meta name="keywords" content="runtime,framework,eclipse,project,plug-ins,plugins,java,ide,swt,refactoring,free java ide,tools,platform,open source,development environment,development,ide" />
	<link rel="stylesheet" type="text/css" href="/eclipse.org-common/yui/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css" media="screen" /> 
	<link rel="stylesheet" type="text/css" href="/eclipse.org-common/yui/2.6.0/build/menu/assets/skins/sam/menu.css" media="screen" /> 
	<link rel="stylesheet" type="text/css" href="/eclipse.org-common/themes/Nova/css/reset.css" media="screen"/> 
	<link rel="stylesheet" type="text/css" href="/eclipse.org-common/themes/Nova/css/layout.css" media="screen" /> 
	<link rel="stylesheet" type="text/css" href="/eclipse.org-common/themes/Nova/css/header.css" media="screen" /> 
	<link rel="stylesheet" type="text/css" href="/eclipse.org-common/themes/Nova/css/footer.css" media="screen" /> 
	<link rel="stylesheet" type="text/css" href="/eclipse.org-common/themes/Nova/css/visual.css" media="screen" /> 
	<link rel="stylesheet" type="text/css" href="/eclipse.org-common/themes/Phoenix/css/print.css" media="print" /> 
	<!--[if lte IE 7]> 	<link rel="stylesheet" type="text/css" href="/eclipse.org-common/themes/Nova/css/ie_style.css" media="screen"/> <![endif]--> 
	<!--[if IE 6]> 	<link rel="stylesheet" type="text/css" href="/eclipse.org-common/themes/Nova/css/ie6_style.css" media="screen"/> <![endif]--> 
	<!-- Dependencies --> 
	<!-- Source File --> 
	<link rel="stylesheet" type="text/css" href="/equinox/rap-layout-fixes.css"/><!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="/equinox/rap-layout-fixes-ie.css"/><![endif]--><link rel="shortcut icon" href="/rt/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/equinox/rap-posts.css"/>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/rt/jquery.zrssfeed.min.js"></script>	
	<style type="text/css">
		div.collapsable {
			display: none;
		}
	</style>
  
</head>

<body> 
	<div id="novaWrapper">
		<div id="clearHeader"> 
			<div id="logo"> 
				<img src="/eclipse.org-common/themes/Nova/images/eclipse.png" alt="Eclipse.org"/> 
			</div> 
			<div id="otherSites"> 
				<div id="sites"> 
					<ul id="sitesUL"> 
						<li><a href='http://marketplace.eclipse.org'><img alt="Eclipse Marketplace" src="http://dev.eclipse.org/custom_icons/marketplace.png"/>&nbsp;<div>Eclipse Marketplace</div></a></li> 
						<li><a href='http://live.eclipse.org'><img alt="Eclipse Live" src="http://dev.eclipse.org/custom_icons/audio-input-microphone-bw.png"/>&nbsp;<div>Eclipse Live</div></a></li> 
		    				<li><a href='https://bugs.eclipse.org/bugs/'><img alt="Bugzilla" src="http://dev.eclipse.org/custom_icons/system-search-bw.png"/>&nbsp;<div>Bugzilla</div></a></li> 
		    				<li><a href='http://www.eclipse.org/forums/'><img alt="Forums" src="http://dev.eclipse.org/large_icons/apps/internet-group-chat.png"/>&nbsp;<div>Eclipse Forums</div></a></li> 
		    				<li><a href='http://www.planeteclipse.org/'><img alt="Planet Eclipse" src="http://dev.eclipse.org/large_icons/devices/audio-card.png"/>&nbsp;<div>Planet Eclipse</div></a></li> 
		    				<li><a href='http://wiki.eclipse.org/'><img alt="Eclipse Wiki" src="http://dev.eclipse.org/custom_icons/accessories-text-editor-bw.png"/>&nbsp;<div>Eclipse Wiki</div></a></li> 
		    				<li><a href='http://portal.eclipse.org'><img alt="MyFoundation Portal" src="http://dev.eclipse.org/custom_icons/preferences-system-network-proxy-bw.png"/><div>My Foundation Portal</div></a></li> 
		    			</ul> 
		    		</div> 
			</div>		
		</div> 
 
	<div id="header">			
		<div id="menu"> 
			<ul> 
				<li><a href="/equinox/" target="_self">Home</a></li> 
				<li><a href="/equinox/getting-started/" target="_self">Get Started</a></li> 
				<li><a href="http//download.eclipse.org/equinox" target="_self">Downloads</a></li> 
				<li><a href="/equinox/documents/" target="_self">Documents</a></li> 
				<li><a href="/equinox/resources/" target="_self">Resources</a></li> 
				<li><a href="/equinox/faq.php/" target="_self">FAQ</a></li> 
				<li><a href="http://wiki.eclipse.org/Equinox" target="_self">Wiki</a></li> 
			</ul> 
		</div> 
 
		<div id="search"> 
				<form action="http://www.google.com/cse" id="searchbox_017941334893793413703:sqfrdtd112s"> 
			 	<input type="hidden" name="cx" value="017941334893793413703:sqfrdtd112s" /> 
		  		<input id="searchBox" type="text" name="q" size="25" /> 
		  		<input id="searchButton" type="submit" name="sa" value="Search" /> 
				</form> 
			<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=searchbox_017941334893793413703%3Asqfrdtd112s&lang=en"></script>			
		</div> 
	</div>

	<div id="novaContent" class="faux">
		<br style="clear:both;height:1em;"/> 
		<div id="leftcol"> 
			<ul id="leftnav"> 
				<li class="separator"><a class="separator" href="index.php">Work Areas<img src="/eclipse.org-common/themes/Nova/images/separator.png"/></a></li> 
				<li><a href="/equinox/bundles" target="_self">Bundles</a></li> 
				<li><a href="/equinox/framework" target="_self">Framework</a></li> 
				<li><a href="/equinox/incubator" target="_self">Incubator</a></li> 
				<li><a href="/equinox/p2" target="_self">p2</a></li> 
				<li><a href="/equinox/security" target="_self">Security</a></li> 
				<li><a href="/equinox/server" target="_self">Server</a></li> 
				<li class="separator"><a class="separator">Related<img src="/eclipse.org-common/themes/Nova/images/separator.png"/></a></li> 
				<li><a href="http://eclipse.org/rt" target="_self">RT</a></li> 
				<li><a href="http://eclipse.org/eclipse" target="_self">Eclipse</a></li> 
				<li><a href="http://eclipse.org/pde" target="_self">PDE</a></li> 
				<li><a href="http://eclipse.org/rap" target="_self">RAP</a></li> 
				<li><a href="http://eclipse.org/ecf" target="_self">ECF</a></li> 
				<li><a href="http://eclipse.org/eclipse/development" target="_self">Development</a></li> 
			</ul> 
		</div>

		<div id="rap-small-header"> 
			<a href="/equinox/"><div id="rap-small-logo"/></a> 
		</div> 

<script type="text/javascript"> 
  // logo
  var logo = $( '#logo:first-child' );
  var newLogo = '<div id="logo"><a href="http://www.eclipse.org">' 
                + logo.html() + '</a></div>';
  logo.replaceWith( newLogo );
</script> 

<script type="text/javascript"> 
<!--
function expandCollapse(id) {
	expandCollapse(id, null);
}
 
function expandCollapse(id, value) {
	var element = document.getElementById(id);
	if (value == null) {
		element.className = (element.className == 'collapsable') ? '' : 'collapsable';
	} else {
		element.className = value;
	}
	var button = document.getElementById(id + '.button');
	if (element.className == 'collapsable')	
		button.src="/equinox/images/arrow.png";
	else
		button.src="/equinox/images/downarrow.png";
}
//-->
</script> 

		<div id="midcolumn">
		<h3>Equinox @type@ Build: @buildid@</h3><br>
		<b>@date@ </b> 
		<p>These downloads are provided under the <a href="http://www.eclipse.org/legal/epl/notice.html">
		Eclipse Foundation Software User Agreement</a>.
		<br/>Click <a href="verifyMD5.html">here</a> for instructions on how to verify the 
		integrity of your downloads.</p>

		<p><a href="apitools/index.html">API Version Verification Report</a> - Verifies the versions
		of the plugins against Eclipse 3.6.  See org.eclipse.releng/apiexclude/exclude_list_external.txt for exclusions.</p> 

		<p><a href="apitools/apitoolsdeprecations/apideprecation.html">API Deprecation Report</a> -
		Report of API deprecated since 3.6.</p> 
 
		<!--p><a href="apitools/report.html"><b>API Tools Post-API Freeze Report</b></a> - This report describes API changes 
		since 3.6M6.  Exclusions are listed in org.eclipse.releng/apiexclude/exclude_list.txt.</p--> 

<?php 

function column($servername) {
      echo "<td width=\"7%\"><b>Download</b></td>";
      echo "<td width=\"7%\"><b>Size</b></td>";
      echo "<td width=\"40%\"><b>File</b></td>";
      echo "<td width=\"11%\"><b>Checksum</b></td>";
      return;
}

function generateDropSize($zipfile) {
		$filesize = getDropSize($zipfile);
		 echo "<td>$filesize</td>";
}

function getDropSize($zipfile) {
		 $filesize = "N/A";
		 $filesizebytes  = filesize($zipfile);
		 if($filesizebytes > 0) {
			if($filesizebytes < 1048576)
				$filesize = round($filesizebytes / 1048576, 2) . " MB";
			else if ($filesizebytes >= 1048576 && $filesizebytes < 10485760)
				$filesize = round($filesizebytes / 1048576, 1) . " MB";
			else
        		 	$filesize = round($filesizebytes / 1048576, 0) . " MB";
		 }
		 return($filesize);
}

function generateChecksumLinks($zipfile) {
     echo "<td><a href=\"http://download.eclipse.org/equinox/drops/@buildlabel@/checksum/$zipfile.md5\"><img src=\"md5.png\" alt=\"md5\"/></a>";
     echo "<a href=\"http://download.eclipse.org/equinox/drops/@buildlabel@/checksum/$zipfile.sha1\"><img src=\"sha1.png\" alt=\"sha1\"/></a></td>";
}

function genLinks($servername,$buildlabel,$zipfile) {
     $httplink = "download.php?dropFile=$zipfile";
     $httplabel = "(http)";
     $httpline =  "<div align=\"left\"><a href=\"$httplink\">$httplabel</a>";
     echo "$httpline";
     echo "&nbsp;&nbsp";
     generateDropSize($zipfile);
     echo "<td>$zipfile</td>";
     echo "<td><a href=\"http://download.eclipse.org/equinox/drops/@buildlabel@/checksum/$zipfile.md5\">(md5)</a>";
     echo " <a href=\"http://download.eclipse.org/equinox/drops/@buildlabel@/checksum/$zipfile.sha1\">(sha1)</a></td>";
}
?>	

<div class="homeitem3col">
<h3>All of Equinox</h3>
<p> A complete set of all bundles and launchers produced by the Equinox project. This zip is also a p2 repo. </p>
<table BORDER=0 CELLSPACING=2 CELLPADDING=0 WIDTH="99%" bordercolor="#999999" >
<tr><td width="5%"/> <td width="65%"/></tr>
%equinox%
</table>
</div>

<div class="homeitem3col">
<h3>Framework Only</h3>
<P>The Equinox OSGi R4 <a href="http://eclipse.org/equinox/framework">framework</a> implementation in a standalone package.
See the <A HREF="http://eclipse.org/equinox/quickstart.html">Quick Start Guide</A> for details on how to use this JAR.</P>
<table BORDER=0 CELLSPACING=2 CELLPADDING=0 WIDTH="99%" bordercolor="#999999" >
<tr><td width="5%"/> <td width="65%"/></tr>
%framework%
</table>
</div>

<div class="homeitem3col">
<h3><a onclick="expandCollapse('addon.bundles');"><img id="addon.bundles.button" src="/equinox/images/arrow.png"/></a>&nbsp;Add-on Bundles</h3>
<P>Individual <a href="http://eclipse.org/equinox/bundles">bundles</a> that provide 
standalone OSGi specified services or add-on mechanisms (e.g., the Eclipse extension registry) of interest to OSGi programmers.</P>
<div id="addon.bundles" class="collapsable"> 
<table BORDER=0 CELLSPACING=2 CELLPADDING=0 WIDTH="99%" bordercolor="#999999" >
<tr><td width="5%"/> <td width="65%"/></tr>
%extrabundles%
</table>
</div>
</div>

<div class="homeitem3col">
<h3><a onclick="expandCollapse('other.bundles');"><img id="other.bundles.button" src="/equinox/images/arrow.png"/></a>&nbsp;Other Required Bundles</h3>
<P>A convenient set of bundles that are required by some of the Equinox bundles.</P>
<div id="other.bundles" class="collapsable"> 
<table BORDER=0 CELLSPACING=2 CELLPADDING=0 WIDTH="99%" bordercolor="#999999" >
<tr><td width="5%"/> <td width="65%"/></tr>
%other%
</table>
</div>
</div>

<div class="homeitem3col">
<h3><a onclick="expandCollapse('incubator.bundles');"><img id="incubator.bundles.button" src="/equinox/images/arrow.png"/></a>&nbsp;Incubator</h3>
<P>Equinox Incubator downloads supplied as a convenience. While some are quite complete, all should be considered experimental.</P>
<div id="incubator.bundles" class="collapsable"> 
<table BORDER=0 CELLSPACING=2 CELLPADDING=0 WIDTH="99%" bordercolor="#999999" >
<tr> <td align=RIGHT valign=TOP width="5%"> <div align="left"><b>Status</b></div></td><td width="33%"><b>Platform</b></td><?php column($_SERVER["SERVER_NAME"]); ?> 
</tr> %incubator% </table>
</div>
</div>

<div class="homeitem3col">
<h3><a onclick="expandCollapse('provisioning.bundles');">><img  id="provisioning.bundles.button" src="/equinox/images/arrow.png"/></a>&nbsp;Provisioning (p2)</h3>
<P>The following downloads are produced by the Provisioning team. For more about provisoning, see 
the <a href="http://wiki.eclipse.org/Category:Provisioning">provisioning articles</a> on the eclipse.org wiki.</P>
<div id="provisioning.bundles" class="collapsable"> 
<table BORDER=0 CELLSPACING=2 CELLPADDING=0 WIDTH="99%" bordercolor="#999999" >
<tr> <td align=RIGHT valign=TOP width="5%"> <div align="left"><b>Status</b></div></td><td width="33%"><b>Platform</b></td><?php column($_SERVER["SERVER_NAME"]); ?> 
</tr> %provisioning% </table>
</div>
</div>

<div class="homeitem3col">
<h3><a onclick="expandCollapse('launcher.bundles');"><img  id="launcher.bundles.button" src="/equinox/images/arrow.png"/></a>&nbsp;Native Launchers</h3>
<P>Platform-specific native launchers (e.g., eclipse.exe) for the Equinox framework. See the list 
of <a href="http://www.eclipse.org/projects/project-plan.php?projectid=eclipse#target_environments">supported OS configurations</a>.</P>
<div id="launcher.bundles" class="collapsable"> 
<table BORDER=0 CELLSPACING=2 CELLPADDING=0 WIDTH="99%" bordercolor="#999999" >
<tr> <td align=RIGHT valign=TOP width="5%"> <div align="left"><b>Status</b></div></td><td width="33%"><b>Platform</b></td><?php column($_SERVER["SERVER_NAME"]); ?> 
</tr> %launchers% </table>
</div>
</div>

		</div>

		<p><br/></p>

		<div id="rightcolumn"> 
			<div class="sideitem"> 
				<h6>Buy The Book</h6> 
					<p><a href="http://equinoxosgi.org"> 
					<img 
						src="http://eclipse.org/equinox/images/osgi-and-equinox-cover.png"
						style="position: relative; left: 33px; top: 2pt;"/></a> 
					</p> 

				<div style="position: relative; margin-bottom: 10px;"> 
					<a href="http://www.eclipse.org/eclipsert/"><img alt="EclipseRT"
						src="/equinox/images/EclipseRT.png"
						style="position: relative; left: 55px; top: 0pt;"/></a> 
				</div> 
			</div>

			<div class="sideitem"> 
				<h6>Equinox News <a href="http://pipes.yahoo.com/pipes/pipe.run?_id=29fa792a21689d660776bb62478167c9%26_render=rss" class="rssIcon"><img src="/rt/images/feed.png" alt="feed"/></a></h6> 
				<div id="rssFeed"></div> 
				<script type="text/javascript"> 
					$( document ).ready( function () {
					$( '#rssFeed' ).rssfeed( 'http%3A%2F%2Fpipes.yahoo.com%2Fpipes%2Fpipe.run%3F_id%3D29fa792a21689d660776bb62478167c9%26_render%3Drss',
					{ limit: 5, header : false, titletag : "h5", date : true, content : false } );
					} );
				</script> 
			</div> 

			<script type="text/javascript"> 
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script> 
			<script type="text/javascript"> 
			var pageTracker = _gat._getTracker("UA-910670-2");
			pageTracker._initData();
			pageTracker._trackPageview();
			</script>		
 
			<br style="clear:both;height:1em;"/>&nbsp;
		</div> 		
		<div id="clearFooter"></div> 
			<div id="footer"> 
				<ul id="footernav"> 
					<li><a href="http://www.eclipse.org/">Home</a></li> 
					<li><a href="http://www.eclipse.org/legal/privacy.php">Privacy Policy</a></li> 
					<li><a href="http://www.eclipse.org/legal/termsofuse.php">Terms of Use</a></li> 
					<li><a href="http://www.eclipse.org/legal/copyright.php">Copyright Agent</a></li> 
					<li><a href="http://www.eclipse.org/legal/">Legal</a></li> 
					<li><a href="http://www.eclipse.org/org/foundation/contact.php">Contact Us</a></li> 
				</ul> 
				<span id="copyright">Copyright &copy; 2010 The Eclipse Foundation. All Rights Reserved.</span> 
			</div> 
		</div>
	</div>
</body>		
</html>