<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" title="default" href="http://eclipse.org/default_style.css" type="text/css">
<link rel="stylesheet" href="http://www.eclipse.org/equinox/equinox.css" type="text/css">

<title>equinox osgi downloads</title>
</head>
<body>
<center>
	<p><font class=indextop>equinox osgi downloads</font><br>
	<font class=indexsub>getting running with equinox</font></p></center><table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" > <tr> <td ALIGN=LEFT width="80%"> 
<p><b><FONT FACE="Verdana" SIZE="+2">@type@ Build: @buildid@</FONT></b><br> @date@. 
These downloads are provided under the <a href="http://www.eclipse.org/legal/epl/notice.html">
Eclipse Foundation Software User Agreement</a>.</p><p>

<?php
$servername = $_SERVER["SERVER_NAME"];
if (! preg_match("/.eclipse.org/i",$servername)) {
        echo "<br> To download a file via HTTP click on its corresponding http link below.
To download a file via FTP click on its corresponding FTP link. If you have problems
ftping a file directly try this <a href=\"ftp://$servername/@buildlabel@/\">link</a>
for ftp access to the entire build directory.";
} else {
    echo "<br>";
} ?> You can also download builds via anonymous ftp at download.eclipse.org.  <BR>Click <a href="verifyMD5.html">here</a> for instructions on how to verify the 
integrity of your downloads.</p></td></tr> </table><?php function column($servername) {

 if (! preg_match("/.eclipse.org/i",$servername)) {
          echo "<td width=\"12%\"><b>Download</td>";
          echo "<td width=\"40%\"><b>Platform</b></td>";
      } else { 
          echo "<td width=\"40%\"><b>Download</td>";
    }
    return;
}

function genLinks($servername,$buildlabel,$zipfile) {

if (preg_match("/.eclipse.org/i",$servername)) {
#     $httplink = "http://www.eclipse.org/downloads/download.php?file=/eclipse/downloads/equinox/downloads/drops/$buildlabel/$zipfile";
     $httplink = "download.php?dropFile=$zipfile";
     $httplabel = $zipfile;
     $httpline =  "<div align=\"left\"><a href=\"$httplink\">$httplabel</a>";
     $ftplink = "";
     $ftplabel = "";
     $ftpline =  "";
     $md5name = "";
} else {
    $httplink = "download.php?dropFile=$zipfile";
    $httplabel = "(http)";
    $httpline = "<div align=\"left\"><a href=\"$httplink\">$httplabel</a>";
    $ftplink = "ftp://$servername/$buildlabel/$zipfile";
    $ftplabel = "(ftp)";
    $ftpline =  "<a href=\"$ftplink\">$ftplabel</a>";
    $md5name = $zipfile;
}
 
  echo "$httpline"; 
  echo "&nbsp;&nbsp";
  echo "$ftpline";
  echo "<td>$md5name  (<a href=\"http://download.eclipse.org/eclipse/downloads/equinox/downloads/drops/@buildlabel@/checksum/$zipfile.md5\">md5</a>)";

}
?> <TABLE BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" > <TR> <TD ALIGN=LEFT VALIGN=TOP COLSPAN="3" BGCOLOR="#0080C0"><B><FONT FACE="Arial,Helvetica" COLOR="#FFFFFF">Framework</FONT></B></TD></TR> <TR> <TD HEIGHT="48" COLSPAN="2"> <P>The Equinox OSGi R4 <a href="http://eclipse.org/equinox/framework">framework</a> implementation includes all optional parts of the R4 spec as well as several additional mechanisms (e.g., x-internal, platform filters, ...) that are generally useful in a standalone package.  See the <A HREF="http://eclipse.org/equinox/quickstart.html">Quick Start Guide</A> for details on how to use this JAR.</P></TD></TR> </TABLE><TABLE BORDER=0 CELLSPACING=2 CELLPADDING=0 WIDTH="100%" BORDERCOLOR="#999999" > 
<TR> <TD ALIGN=RIGHT VALIGN=TOP WIDTH="7%"> <DIV ALIGN="left"><B>Status</B></DIV></TD><TD WIDTH="36%"><B>Platform</B></TD><?php column($HTTP_SERVER_VARS["SERVER_NAME"]); ?> 
</TR> %framework% </TABLE><TABLE BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" > 
<TR> <TD COLSPAN="2"> <P>&nbsp;</P></TD></TR> </TABLE><TABLE BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" > <TR> <TD ALIGN=LEFT VALIGN=TOP COLSPAN="3" BGCOLOR="#0080C0"><B><FONT COLOR="#FFFFFF" FACE="Arial,Helvetica">Add-on Bundles</FONT></B></TD></TR> <TR> <TD HEIGHT="48" COLSPAN="2"> <P>The drops listed here are individual <a href="http://eclipse.org/equinox/bundles">bundles</a> or sets of bundles that provide a single standalone service or mechanism.  This includes implementations of many of the OSGi specified services as well as additional mechanisms (e.g., the Eclipse extension registry) of interest to OSGi programmers.</P></TD></TR> </TABLE><TABLE BORDER=0 CELLSPACING=2 CELLPADDING=0 WIDTH="100%" BORDERCOLOR="#999999" > 
<TR> <TD ALIGN=RIGHT VALIGN=TOP WIDTH="7%"> <DIV ALIGN="left"><B>Status</B></DIV></TD><TD WIDTH="36%"><B>Platform</B></TD><?php column($HTTP_SERVER_VARS["SERVER_NAME"]); ?> 
</TR> %extrabundles% </TABLE><TABLE BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" > 
<TR> <TD COLSPAN="2"> <P>&nbsp;</P></TD></TR> </TABLE><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"> <link rel="stylesheet" href="../../../default_style.css" type="text/css"> 
<title></title><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td align=LEFT valign=TOP colspan="3" BGCOLOR="#0080C0"><b><FONT COLOR="#FFFFFF" FACE="Arial,Helvetica">Launchers</FONT></b></td></tr> <tr> <td height="48" colspan="2"> <p>While it is possible to use the Equinox framework as a standalone JAR, it is often convenient to use the executable program launcher.  The platform-specific archives here include precompiled executables as well as some support files such as startup.jar and a configuration template.</p></td></tr> 
</table><table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" > 
<tr> <td align=RIGHT valign=TOP width="7%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($HTTP_SERVER_VARS["SERVER_NAME"]); ?> 
</tr> %launchers% </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td colspan="2">&nbsp;</td></tr> </table><p>&nbsp;</p>

</body>
</html>
