<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="../../../default_style.css" type="text/css">
<title>Eclipse Tools Project</title>
</head>
<body>
&nbsp; 

<?php

	$remoteName = strtolower(gethostbyaddr($REMOTE_ADDR));
	
	if (strstr($remoteName, "oti.com")) {
		$jre = "http://eclipsedrops.ott.oti.com/downloads/hubba/downloads/index.html";
	} else {
		$jre = "java-runtimes.html";
	}
?>

<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
    <td ALIGN=LEFT width="80%"> 
      <p><b><font face="Verdana" size="+3">@type@ Build: @build@</font></b><br>
        @date@. These downloads are provided under the <a href="http://www.eclipse.org/legal/notice.html">Eclipse.org 
        Software User Agreement</a>.</p>
      <p>To view the build notes for this build click <a href="buildNotes.php">here</a>.<br>
        To view the test results for this build click <a href="testResults.php">here</a>.<br>
        To view the map file entries for this build click <a href="directory.txt">here</a>.<br>
        <br>
        To download a file via HTTP click on its corresponding http link below. 
        To download a file via FTP click on its corresponding FTP link. If you 
        have problems ftping a file directly try this 
        <?php echo "<a href=\"ftp://$SERVER_NAME/@buildlabel@/\">link</a>"?>
        for ftp access to the entire build directory. You can also download builds 
        via anonymous ftp at download.eclipse.org.</p>
      <p> Click <a href="verifyMD5.html">here</a> for instructions on how to verify 
        the integrity of your downloads.</p>
      </td>
  </tr>
</table>
<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
    <td ALIGN=LEFT VALIGN=TOP COLSPAN="3" BGCOLOR="#0080C0"><b><font color="#FFFFFF" face="Arial,Helvetica">Eclipse 
      SDK </font></b></td>
  </tr>
  <tr> 
    <td height="48" colspan="2">
      <p>The Eclipse SDK includes the Eclipse Platform, Java development tools, 
        and Plug-in Development Environment, including source and both user and 
        programmer documentation. If you aren't sure which download you want... 
        then you probably want this one.<br>
        <b>Eclipse does not include a Java runtime environment (JRE).</b> You 
        will need a 1.3 level Java runtime or Java development kit (JDK) installed 
        on your machine in order to run Eclipse. <a href="<?php echo "$jre";?>">Click 
        here</a> if you need help finding a Java runtime.</p>
    </td>
  </tr>
</table>
<table BORDER=0 CELLSPACING=2 CELLPADDING=0 WIDTH="100%" bordercolor="#999999" >
  <tr> 
    <td align=RIGHT valign=TOP width="7%"> 
      <div align="left"><b>Status</b></div>
    </td>
    <td width="36%"><b>Platform</b></td>
    <td width="12%"> 
      <div align="center"><b>Download</b></div>
    </td>
    <td width="47%"><b>File</b></td>
 %sdk%
  </tr>
 </table>
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td colspan="2"> 
      <p>&nbsp;</p>
    </td>
  </tr>
</table>
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font color="#FFFFFF" face="Arial,Helvetica">JUnit 
      Plugin Tests and Automated Testing Framework</font></b></td>
  </tr>
  <tr> 
    <td colspan="2"> 
      <p>This drop contains the JUnit Eclipse test plugins and the Automated Testing 
        Framework used to run the tests from the command line. Click <a href="automatedtesting.html">here</a> 
        for more information and installation instructions. Includes both source 
        code and binary.</p>
    </td>
  </tr>
</table>
<table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" >
  <tr> 
    <td align=RIGHT valign=TOP width="7%"> 
      <div align="left"><b>Status</b></div>
    </td>
    <td width="36%"><b>Platform</b></td>
    <td width="12%"> 
      <div align="center"><b>Download</b></div>
    </td>
    <td width="47%"><b>File</b></td>
  </tr>
  %tests% 
</table>
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font color="#FFFFFF" face="Arial,Helvetica">Example 
      Plug-ins</font></b></td>
  </tr>
  <tr> 
    <td height="48" colspan="2">
      <p>To install the examples, first make sure you have exited your Eclipse 
        program. Then download the zip file containing the examples and extract 
        the contents of the zip file to the same directory you used for your SDK 
        installation. For example, if you installed the Eclipse Project SDK on 
        d:\eclipse-sdk then extract the contents of the examples zip file to d:\eclipse-sdk. 
        Start Eclipse. The example plug-ins will be installed. For information 
        on what the examples do and how to run them, look in the &quot;Examples 
        Guide&quot; section of the &quot;Platform Plug-in Developer Guide&quot;, 
        by selecting Help Contents from the Help menu, and choosing &quot;Platform 
        Plug-in Developer Guide&quot; book from the combo box.<br>
      </p>
      </td>
  </tr>
</table>
<table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" >
  <tr> 
    <td align=RIGHT valign=TOP width="7%"> 
      <div align="left"><b>Status</b></div>
    </td>
    <td width="36%"><b>Platform</b></td>
    <td width="12%"> 
      <div align="center"><b>Download</b></div>
    </td>
    <td width="47%"><b>File</b></td>
  </tr>
 %example%
</table>
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font color="#FFFFFF" face="Arial,Helvetica">Platform 
      Runtime Binary</font></b></td>
  </tr>
  <tr> 
    <td height="48" colspan="2"> 
      <p>These drops contain only the Eclipse platform with user documentation 
        and no source and no programmer documentation. The Java development tools 
        and Plug-in Development Environment are NOT included. You can use these 
        drops to help you package your tool plug-ins for redistribution when you 
        don't want to ship the entire SDK.</p>
    </td>
  </tr>
</table>
<table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" >
  <tr> 
    <td align=RIGHT valign=TOP width="7%"> 
      <div align="left"><b>Status</b></div>
    </td>
    <td width="36%"><b>Platform</b></td>
    <td width="12%"> 
      <div align="center"><b>Download</b></div>
    </td>
    <td width="47%"><b>File</b></td>
  </tr>
 %runtime%
</table>
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font color="#FFFFFF" face="Arial,Helvetica">JDT 
      Runtime Binary</font></b></td>
  </tr>
  <tr> 
    <td height="48" colspan="2"> 
      <p>These drops contain the Java development tools plug-ins only, with user 
        documentation and no source and no programmer documentation. The Eclipse 
        platform and Plug-in development environment are NOT included. You 
        can combine this with the Platform Runtime Binary if your tools rely on 
        the JDT being present.</p>
    </td>
  </tr>
</table>
<table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" >
  <tr> 
    <td align=RIGHT valign=TOP width="7%"> 
      <div align="left"><b>Status</b></div>
    </td>
    <td width="36%"><b>Platform</b></td>
    <td width="12%"> 
      <div align="center"><b>Download</b></div>
    </td>
    <td width="47%"><b>File</b></td>

  </tr>
%jdt%
</table>
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font color="#FFFFFF" face="Arial,Helvetica">FTP 
      and WebDAV Support</font></b></td>
  </tr>
  <tr> 
    <td colspan="2"> 
      <p>These drops contain the FTP and WebDAV target management support plug-ins. 
        You can combine this with the Platform Runtime Binary or Eclipse SDK. 
        Includes both source code and binary.</p>
      </td>
  </tr>
</table>
<table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" >
  <tr> 
    <td align=RIGHT valign=TOP width="7%"> 
      <div align="left"><b>Status</b></div>
    </td>
    <td width="36%"><b>Platform</b></td>
    <td width="12%"> 
      <div align="center"><b>Download</b></div>
    </td>
    <td width="47%"><b>File</b></td>
  </tr>
  %teamextras% 
</table>
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font color="#FFFFFF" face="Arial,Helvetica">SWT 
      Binary and Source</font></b></td>
  </tr>
  <tr> 
    <td height="48" colspan="2"> 
      <p>These drops contain the SWT libraries and source for standalone SWT application 
        development. For examples of standalone SWT applications refer to the 
        <a href="http://dev.eclipse.org/viewcvs/index.cgi/%7Echeckout%7E/platform-swt-home/dev.html#snippets">snippets</a> 
        section of the SWT Component page. </p>
      <p>To run a standalone SWT application, add the swt jar(s) to the classpath 
        and add the directory/folder for the SWT JNI library to the java.library.path. 
        For example, if you extract the download below to C:\SWT you would launch 
        the HelloWorld application with the following command: </p>
      <pre><code>
	java -classpath C:\SWT\swt.jar;C:\MyApp\helloworld.jar -Djava.library.path=C:\SWT  HelloWorld
      </code></pre>
    </td>
  </tr>
</table>
<table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" >
  <tr> 
    <td align=RIGHT valign=TOP width="7%"> 
      <div align="left"><b>Status</b></div>
    </td>
    <td width="36%"><b>Platform</b></td>
    <td width="12%"> 
      <div align="center"><b>Download</b></div>
    </td>
    <td width="47%"><b>File</b></td>
  </tr>
  %swt% 
</table>
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
