<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="../../../default_style.css" type="text/css">
<title>Eclipse Project</title>
</head>
<body>
&nbsp; <?php
	                                                                           
        $remoteName = gethostbyaddr($_SERVER['REMOTE_ADDR']);
                                    
        if (strstr($remoteName, "ibm.com")) {
                $jre = "http://w3.hursley.ibm.com/java/jim/";
        } else {
                $jre = "java-runtimes.html";
        }
		
	
?> <table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" > <tr> <td ALIGN=LEFT width="80%"> 
<p><b><font face="Verdana" size="+3">@type@ Build: @build@</font></b><br> @date@. 
These downloads are provided under the <a href="http://www.eclipse.org/legal/epl/notice.html">
Eclipse Foundation Software User Agreement</a>.</p><p>To view the build notes for this build click 
<a href="buildNotes.php">here</a>.<br> To view the test results for this build 
click <a href="testResults.php">here</a>. <br> To view the map file entries for 
this build click <a href="directory.txt">here</a>.<br> <?php
	if (file_exists("performance/performance.php")){
		$line="<BR><A HREF=\"performance/performance.php\"><B>Performance results</B></A><B> now available</B><BR>";
	} 
	echo "$line";	
$servername = $_SERVER["SERVER_NAME"];
if (! preg_match("/.eclipse.org/i",$servername)) {
        echo "<br> To download a file via HTTP click on its corresponding http link below.
To download a file via FTP click on its corresponding FTP link. If you have problems
ftping a file directly try this <a href=\"ftp://$servername/@buildlabel@/\">link</a>
for ftp access to the entire build directory.";
} else {
    echo "<br>";
} ?> You can also download builds via anonymous ftp at download.eclipse.org.</p><p> 
Click <a href="verifyMD5.html">here</a> for instructions on how to verify the 
integrity of your downloads.</p></td></tr> </table><?php 

function column($servername) {

 if (! preg_match("/.eclipse.org/i",$servername)) {
     echo "<td width=\"12%\"><b>Download</td>";
          echo "<td width=\"10%\"><b>Size</b></td>";
		   echo "<td width=\"40%\"><b>File</b></td>";
      } else { 
          echo "<td width=\"40%\"><b>Download</td>";
          echo "<td width=\"10%\"><b>Size</b></td>";
    }
    return;
}

function getDropSize($zipfile) {

		 $filesize = "N/A";
		 $filesizebytes  = filesize($zipfile);
		 if($filesizebytes > 0) {
        		 $filesize = floor($filesizebytes / 1048576) . " MB";
		 }
        return($filesize);
}

function genLinks($servername,$buildlabel,$zipfile) {

if (preg_match("/.eclipse.org/i",$servername)) {
#     $httplink = "http://www.eclipse.org/downloads/download.php?file=/eclipse/downloads/drops/$buildlabel/$zipfile";
     $httplink = "download.php?dropFile=$zipfile";
     $httplabel = $zipfile;
     $httpline =  "<div align=\"left\"><a href=\"$httplink\">$httplabel</a>";
     $ftplink = "";
     $ftplabel = "";
     $ftpline =  "";
     $md5name = "";
} else {
    $httplink = "download.php?dropFile=$zipfile";
    $httplabel = "(http)";
    $httpline = "<div align=\"left\"><a href=\"$httplink\">$httplabel</a>";
    $ftplink = "ftp://$servername/$buildlabel/$zipfile";
    $ftplabel = "(ftp)";
    $ftpline =  "<a href=\"$ftplink\">$ftplabel</a>";
    $md5name = $zipfile;
}
  $filesize = getDropSize($zipfile);
    
  echo "$httpline"; 
  echo "&nbsp;&nbsp";
  echo "$ftpline";
  echo "<td>$filesize</td>";
  echo "<td>$md5name  (<a href=\"http://download.eclipse.org/eclipse/downloads/drops/@buildlabel@/checksum/$zipfile.md5\">md5</a>)";

}
?> <table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" > <tr> <td ALIGN=LEFT VALIGN=TOP COLSPAN="3" BGCOLOR="#0080C0"><b><font color="#FFFFFF" face="Arial,Helvetica">Eclipse 
SDK </font></b></td></tr> <tr> <td height="48" colspan="2"> <p>The Eclipse SDK 
includes the Eclipse Platform, Java development tools, and Plug-in Development 
Environment, including source and both user and programmer documentation. If you 
aren't sure which download you want... then you probably want this one.<br> <b>Eclipse 
does not include a Java runtime environment (JRE).</b> You will need a 1.4.2 level 
or higher Java runtime or Java development kit (JDK) installed on your machine 
in order to run Eclipse. <a href="<?php echo "$jre";?>">Click here</a> if you 
need help finding a Java runtime.</p></td></tr> </table><table BORDER=0 CELLSPACING=2 CELLPADDING=0 WIDTH="100%" bordercolor="#999999" > 
<tr> <td align=RIGHT valign=TOP width="7%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($HTTP_SERVER_VARS["SERVER_NAME"]); ?> 
</tr> %sdk% </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td colspan="2"> <p>&nbsp;</p></td></tr> </table><?php
		 $parts = explode("/", getcwd());
		 $parts2 = explode("-", $parts[count($parts) - 1]);
		 $buildName = $parts2[1];
		 
		 // Get build type names

		 $fileHandle = fopen("../../dlconfig2.txt", "r");
		 while (!feof($fileHandle)) {
		 		 
		 		 $aLine = fgets($fileHandle, 4096); // Length parameter only optional after 4.2.0
		 		 $parts = explode(",", $aLine);
		 		 $dropNames[trim($parts[0])] = trim($parts[1]);
 		 }
		 fclose($fileHandle);

		 $buildType = $dropNames[$parts2[0]];

		 echo "<title>Documentation for $buildType $buildName </title>";
?> <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"> <link rel="stylesheet" href="../../../default_style.css" type="text/css"> 
<title></title><table border=0 cellspacing=5 cellpadding=2 width="100%" > <tr> 
<td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font color="#FFFFFF" face="Arial,Helvetica">Documentation 
in PDF form</font></b></td></tr> </table><table border="0"> <?php
		 $hasNotes = false;

		 $index = 0;

        $maindir = "." ;
        $mydir = opendir($maindir) ;
        while($anEntry = readdir($mydir)) {
            if (preg_match("/pdf/i",$anEntry)) {
		         $entries[$index] = $anEntry;
        		 $index++;
            }
        }
        closedir($mydir);
        if ($index > 0) { sort($entries); }

		 for ($i = 0; $i < $index; $i++) {
		 		 $anEntry = $entries[$i];
		 		 $line = "<td><a href=\"$anEntry\">$anEntry</a></td>\n";
		 		 echo "<tr>";
		 		 echo "$line";
		 		 echo "</tr>";
		 		 $hasNotes = true;
		 }
		 
		 if (!$hasNotes) {
		 		 echo "<br>There is no documentation  for this build.";
		 }
?> </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > <tr> <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font color="#FFFFFF" face="Arial,Helvetica">JUnit 
Plugin Tests and Automated Testing Framework</font></b></td></tr> <tr> <td colspan="2"> 
<p>These drops contain the framework and JUnit test plugins used to run JUnit 
plug-in tests from the command line. Click <a href="automatedtesting.html">here</a> 
for more information and installation instructions. Includes both source code 
and binary.</p></td></tr> </table><table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" > 
<tr> <td align=RIGHT valign=TOP width="7%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($HTTP_SERVER_VARS["SERVER_NAME"]); ?> 
</tr> %tests% </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td colspan="2">&nbsp;</td></tr> </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font color="#FFFFFF" face="Arial,Helvetica">Example 
Plug-ins</font></b></td></tr> <tr> <td height="48" colspan="2"> <p>To install 
the examples, first make sure you have exited your Eclipse program. Then download 
the zip file containing the examples and extract the contents of the zip file 
to the same directory you used for your SDK installation. For example, if you 
installed the Eclipse Project SDK on d:\eclipse-sdk then extract the contents 
of the examples zip file to d:\eclipse-sdk. Start Eclipse. The example plug-ins 
will be installed. For information on what the examples do and how to run them, 
look in the &quot;Examples Guide&quot; section of the &quot;Platform Plug-in Developer 
Guide&quot;, by selecting Help Contents from the Help menu, and choosing &quot;Platform 
Plug-in Developer Guide&quot; book from the combo box.<br> </p></td></tr> </table><table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" > 
<tr> <td align=RIGHT valign=TOP width="7%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($HTTP_SERVER_VARS["SERVER_NAME"]); ?> 
</tr> %example% </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td colspan="2">&nbsp;</td></tr> </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font color="#FFFFFF" face="Arial,Helvetica">RCP 
Runtime Binary</font></b></td></tr> <tr> <td height="48" colspan="2"> <p>These 
drops contain the Eclipse Rich Client Platform base plug-ins and do not contain 
source or programmer documentation. These downloads are meant to be used as target 
platforms when developing RCP applications, and are not executable, stand-alone 
applications.</p></td></tr> </table><table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" > 
<tr> <td align=RIGHT valign=TOP width="7%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($HTTP_SERVER_VARS["SERVER_NAME"]); ?> 
</tr> %rcpruntime% </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td colspan="2">&nbsp;</td></tr> </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font color="#FFFFFF" face="Arial,Helvetica">RCP 
SDK</font></b></td></tr> <tr> <td height="48" colspan="2"> <p>These drops consist 
of the Eclipse Rich Client Platform base plug-ins and their source and the RCP 
delta pack. The delta pack contains all the platform specific resources from RCP 
and the platform and is used for cross-platform exports of RCP applications.</p></td></tr> 
</table><table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" > 
<tr> <td align=RIGHT valign=TOP width="7%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($HTTP_SERVER_VARS["SERVER_NAME"]); ?> 
</tr> %rcpsdk% </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td colspan="2">&nbsp;</td></tr> </table><TABLE BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" > 
<TR> <TD ALIGN=LEFT VALIGN=TOP COLSPAN="3" BGCOLOR="#999999"><B><FONT COLOR="#FFFFFF" FACE="Arial,Helvetica">com.ibm.icu.base binary and source Plug-ins</FONT></B></TD></TR> <TR> </TR> </TABLE><TABLE BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" > <TR> <TD HEIGHT="48" COLSPAN="2"> <P>This plugin is a replacement plugin for the com.ibm.icu plugin.  If the size of your application overrides the need to adopt ICU4J, use this plugin *in place of* the ICU4J plugin (com.ibm.icu).  To install and use this plugin:<BR>1.  Extract the zip at the root of your Eclipse install directory<BR>2.  In the \eclipse\plugins directory, delete com.ibm.icu_&lt;version&gt;.jar and the directory com.ibm.icu.source_&lt;version&gt;<BR>3.  In \eclipse\features\org.eclipse.rcp_&lt;version&gt;\feature.xml, replace the id of the com.ibm.icu plugin entry with com.ibm.icu.base.</P></TD></TR> 
</TABLE><TABLE BORDER=0 CELLSPACING=2 CELLPADDING=0 WIDTH="100%" BORDERCOLOR="#999999" > 
<TR> <TD ALIGN=RIGHT VALIGN=TOP WIDTH="7%"> <DIV ALIGN="left"><B>Status</B></DIV></TD><TD WIDTH="36%"><B>Platform</B></TD><?php column($HTTP_SERVER_VARS["SERVER_NAME"]); ?> 
</TR> %icubase% </TABLE><TABLE BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" > 
<TR> <TD COLSPAN="2">&nbsp;</TD></TR> </TABLE><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font color="#FFFFFF" face="Arial,Helvetica">Platform 
Runtime Binary</font></b></td></tr> <tr> <td height="56" colspan="2"> <p>These 
drops contain only the Eclipse Platform with user documentation and no source 
and no programmer documentation. The Java development tools and Plug-in Development 
Environment are NOT included. You can use these drops to help you package your 
tool plug-ins for redistribution when you don't want to ship the entire SDK.</p></td></tr> 
</table><table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" > 
<tr> <td align=RIGHT valign=TOP width="7%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($HTTP_SERVER_VARS["SERVER_NAME"]); ?> 
</tr> %runtime% </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td colspan="2">&nbsp;</td></tr> </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font color="#FFFFFF" face="Arial,Helvetica">Platform 
SDK </font></b></td></tr> <tr> <td height="48" colspan="2"> <p>These drops contain 
the Eclipse Platform Runtime binary with associated source and programmer documentation.</p></td></tr> 
</table><table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" > 
<tr> <td align=RIGHT valign=TOP width="7%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($HTTP_SERVER_VARS["SERVER_NAME"]); ?> 
</tr> %platformsdk% </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td colspan="2">&nbsp;</td></tr> </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font color="#FFFFFF" face="Arial,Helvetica">JDT 
Runtime Binary</font></b></td></tr> <tr> <td height="48" colspan="2"> <p>These 
drops contain the Java development tools plug-ins only, with user documentation 
and no source and no programmer documentation. The Eclipse platform and Plug-in 
development environment are NOT included. You can combine this with the Platform 
Runtime Binary if your tools rely on the JDT being present.</p></td></tr> </table><table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" > 
<tr> <td align=RIGHT valign=TOP width="7%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($HTTP_SERVER_VARS["SERVER_NAME"]); ?> 
</tr> %jdt% </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td colspan="2" height="2">&nbsp;</td></tr> </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font color="#FFFFFF" face="Arial,Helvetica">JDT 
SDK </font></b></td></tr> <tr> <td height="48" colspan="2"> <p>These drops contain 
the JDT Runtime binary with associated source and programmer documentation.</p></td></tr> 
</table><table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" > 
<tr> <td align=RIGHT valign=TOP width="7%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($HTTP_SERVER_VARS["SERVER_NAME"]); ?> 
</tr> %jdtsdk% </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td colspan="2" height="2">&nbsp;</td></tr> </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font color="#FFFFFF" face="Arial,Helvetica">PDE 
Runtime Binary</font></b></td></tr> <tr> <td height="48" colspan="2"> <p>These 
drops contain the Plug-in Development Enviroment plug-ins only, with user documentation. 
The Eclipse platform and Java development tools are NOT included. You can combine 
this with the Platform and JDT Runtime Binary or SDK if your tools rely on the 
PDE being present.</p></td></tr> </table><table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" > 
<tr> <td align=RIGHT valign=TOP width="7%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($HTTP_SERVER_VARS["SERVER_NAME"]); ?> 
</tr> %pde% </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td colspan="2" height="2">&nbsp;</td></tr> </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font color="#FFFFFF" face="Arial,Helvetica">PDE 
SDK </font></b></td></tr> <tr> <td height="48" colspan="2"> These drops contain 
the PDE Runtime Binary with associated source. </td></tr> </table><table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" > 
<tr> <td align=RIGHT valign=TOP width="7%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($HTTP_SERVER_VARS["SERVER_NAME"]); ?> 
%pdesdk% </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > <tr> 
<td colspan="2" height="2">&nbsp;</td></tr> </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font color="#FFFFFF" face="Arial,Helvetica">FTP 
and WebDAV Support</font></b></td></tr> <tr> <td colspan="2"> <p>These drops contain 
the FTP and WebDAV target management support plug-ins. You can combine this with 
the Platform Runtime Binary or Eclipse SDK. Includes both source code and binary.</p></td></tr> 
</table><table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" > 
<tr> <td align=RIGHT valign=TOP width="7%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($HTTP_SERVER_VARS["SERVER_NAME"]); ?> 
</tr> %teamextras% </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td colspan="2">&nbsp;</td></tr> </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font color="#FFFFFF" face="Arial,Helvetica"><A NAME="swt"></A>SWT 
Binary and Source</font></b></td></tr> <tr> <td height="48" colspan="2"> <p>These 
drops contain the SWT libraries and source for standalone SWT application development. 
For examples of standalone SWT applications refer to the <a href="http://dev.eclipse.org/viewcvs/index.cgi/%7Echeckout%7E/platform-swt-home/dev.html#snippets">snippets</a> 
section of the SWT Component page. </p><p>To run a standalone SWT application, 
add the swt jar(s) to the classpath and add the directory/folder for the SWT JNI 
library to the java.library.path. For example, if you extract the download below 
to C:\SWT you would launch the HelloWorld application with the following command: 
</p><pre><code> java -classpath C:\SWT\swt.jar;C:\MyApp\helloworld.jar -Djava.library.path=C:\SWT 
HelloWorld </code></pre></td></tr> </table><table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" > 
<tr> <td align=RIGHT valign=TOP width="7%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($HTTP_SERVER_VARS["SERVER_NAME"]); ?> 
</tr> %swt% </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td colspan="2">&nbsp;</td></tr> </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font face="Arial,Helvetica" color="#FFFFFF">org.eclipse.releng.tools 
plug-in</font></b></td></tr> <tr> <td height="48" colspan="2"> <p>This plug-in 
provides features that will help with the Eclipse development process. Installing 
the plug-in will add the following actions. To install simply unzip the file into 
your plugins directory and restart Eclipse. <b>Please use the Release feature 
of this plug-in to do your build submissions.</b></p><ol> <li><b>Release</b> to 
the Team menu. This action will Tag selected projects with the specified version 
<b>and</b> update the appropriate loaded *.map files with the version. The user 
must have the *.map files loaded in their workspace and the use must commit the 
map file changes to the repository when done.</li><li><b>Load Map Projects </b>to 
the Team menu. Select one or more *.map file and this action will load the projects 
listed in the *.map file into your workspace. Naturally the versions specified 
in the *.map file will be loaded.</li><li><b>Tag Map Projects</b> to the Team 
menu. Select one or more *Map files and this action will tag the projects listed 
in the *Map files with a tag you specify.</li><li><b>Compare with Released</b> 
to the Compare menu. Compare the selected projects with the versions referenced 
in the currently loaded map files.</li><li><b>Replace with Released</b> to the 
Replace menu. Replace the selected projects with the versions referenced in the 
currently loaded map files.</li><li><b>Fix Copyright</b> to the Resource Perspective 
Projects context menu. Select one or more projects in the Resource Perspective. 
This action will sanity check the copyright notices in all the *.java and *.properties 
files. Copyrights will be updated automatically where the tool deems appropriate. 
A copyright.log file will be written to the workspace directory noting odd conflicts 
that need to be looked at. You need to commit the changes yourself. This is the 
tool that was used to do the 2.1 Copyright pass.</li></ol></td></tr> </table><table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" > 
<tr> <td align=RIGHT valign=TOP width="7%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($HTTP_SERVER_VARS["SERVER_NAME"]); ?> 
</tr> %relengtools% </table><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td colspan="2"> <p>&nbsp;</p></td></tr> </table><p>&nbsp;</p>

</body>
</html>
