<html>
<head>

<?php
	$parts = explode("/", getcwd());
	$parts2 = explode("-", $parts[count($parts) - 1]);
	$buildName = $parts2[0] . "-" . $parts2[1];
	
	// Get build type names

	$fileHandle = fopen("../../dlconfig2.txt", "r");
	while (!feof($fileHandle)) {
		
		$aLine = fgets($fileHandle, 4096); // Length parameter only optional after 4.2.0
		$parts = explode(",", $aLine);
		$dropNames[trim($parts[0])] = trim($parts[1]);
 	}
	fclose($fileHandle);

	$buildType = $dropNames[$parts2[0]];

	echo "<title>Test Results for $buildType $buildName </title>";
?>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="../../../default_style.css" type="text/css">
</head>
<body>
<p><b><font face="Verdana" size="+3">Test Results</font></b> </p><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td align=LEFT valign=TOP colspan="3" bgcolor="#0080C0"><b><font color="#FFFFFF" face="Arial,Helvetica">Unit 
Test Results for <?php echo "$buildType $buildName"; ?> </font></b></td></tr> 
</table><p></p><table border="0"> </table><table width="77%" border="1"> <tr> 
<td width="81%"><b>Tests Performed</b></td><td width="19%"><b>Errors &amp; Failures</b></td></tr> 
%testresults% </table><p></p><table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td align=LEFT valign=TOP colspan="3" bgcolor="#0080C0"><b><font color="#FFFFFF" face="Arial,Helvetica">RelEng 
Build Tests Logs <?php echo "$buildType $buildName"; ?> </font></b></td></tr> 
</table><br> These <a href="chkpiiResults.php">logs</a> only need to be checked 
if the org.eclipse.releng.tests above report a test failures. <?php if (! (preg_match("/N/i",$buildName))) { echo "<br><br>Cvs tag v$buildName of org.eclipse.releng.eclipsebuilder and org.eclipse.releng.basebuilder was used to create this build."; } ?> 
<br> <br> <table border=0 cellspacing=5 cellpadding=2 width="100%" > <tr> <td align=LEFT valign=TOP colspan="3" bgcolor="#0080C0"><b><font color="#FFFFFF" face="Arial,Helvetica"> 
Console output logs <?php echo "$buildType $buildName"; ?> </font></b></td></tr> 
</table><br> These <a href="consoleLogs.php">logs</a> contain the console output 
captured while running the JUnit automated tests. <br><br>



<br> <table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td align=LEFT valign=TOP colspan="3" bgcolor="#0080C0"><b><font color="#FFFFFF" face="Arial,Helvetica"> 
Versioning Compare Tool</font></b></td></tr> 
</table><br>
<?php if (! (preg_match("/N/i",$buildName))) {
echo " <a href=\"testresults/versiontool/results.xml\"><b> Versioning Compare Tool Output Logs </b></a>";
echo "This log compares the build's plugin and features versions with 3.2.1. ";
}
?>



 <br> <table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td align=LEFT valign=TOP colspan="3" bgcolor="#0080C0"><b><font color="#FFFFFF" face="Arial,Helvetica"> 
Internal References Check <?php echo "$buildType $buildName"; ?> </font></b></td></tr> 
</table><br> This <a href="internalReference/index.html">report</a> contains the 
result of running the <a href="http://eclipse.org/webtools/development/apiscanner/apiscanner.html">Internal 
reference check tool</a> with these Eclipse SDK <A HREF="component-xml-@build@.zip">component.xml</A> 
files.<br><br> <br> <table border=0 cellspacing=5 cellpadding=2 width="100%" > 
<tr> <td align=LEFT valign=TOP colspan="3" bgcolor="#0080C0"><b><font color="#FFFFFF" face="Arial,Helvetica">Plugins 
containing compile errors </font></b></td></tr> </table><table width="77%" border="1"> 
<tr> <td><b>Compile Logs (Jar Files)</b></td><td><b>Errors</b></td><td><b>Warnings</b></td></tr> 
%compilelogs% </table><TABLE BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" > 
<br><TR> <TD ALIGN=LEFT VALIGN=TOP COLSPAN="3" BGCOLOR="#0080C0"><B><FONT COLOR="#FFFFFF" FACE="Arial,Helvetica">Doc 
logs </FONT></B></TD></TR> </TABLE><P><?php
		 $hasNotes = false;

		 $index = 0;

        $maindir = "compilelogs" ;
        $mydir = opendir($maindir) ;
        while($anEntry = readdir($mydir)) {
            if ((preg_match("/javadoc/i",$anEntry)) ||(preg_match("/schema/i",$anEntry))) {
		         $entries[$index] = $anEntry;
        		 $index++;
            }
        }
        closedir($mydir);
        if ($index > 0) { sort($entries); }

		 for ($i = 0; $i < $index; $i++) {
		 		 $anEntry = $entries[$i];
		 		 $line = "<td><a href=\"$maindir/$anEntry\">$anEntry</a></td><br>\n";
		 		 echo "<tr>";
		 		 echo "$line";
		 		 echo "</tr>";
		 		 $hasNotes = true;
		 }
		 
		 if (!$hasNotes) {
		 		 echo "<br>There are no javadoc logs for this build.";
		 }
?></P>





</body>
</html>
